body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
}

header {
  background: #f4f4f4;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #007BFF;
}

.hero {
  text-align: center;
  padding: 2rem 1rem;
  background: #eee;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1rem;
  color: #555;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem 1rem;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.gallery-item {
  text-align: center;
}

.gallery-item img {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #f4f4f4;
  margin-top: 2rem;
  border-top: 1px solid #ddd;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}


/* Popup styles */
.popup {
  display: none; /* Nascosto per default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.popup-close {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
}

.popup-close:hover {
  color: #f00;
  transform: scale(1.1);
  transition: 0.3s;
}


/* Stile per la sezione "About" */
.about {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.about h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #555;
}

.about p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}


